<%layout('layout') -%>
<div class="container">
    <div class="page-header">
        <h1><%= trans("Add Job Field") %></h1>
    </div>
    <form class="form-horizontal" role="form" method="post" action="?r=<%= returnpage %>">

		<% include ../forms/field %>
		
        <div class="form-group">
            <div class="col-sm-6 col-sm-offset-3">
                <button type="submit" class="btn btn-primary btn-block"><%= trans("Add") %></button>
            </div>
        </div>
    </form> <!-- /form -->
</div>
