<%layout('layout') -%>
<div class="container shadow">
	<h1 class="title">###addjob###</h1>
	<div class="col-sm-12">
		<form class="form-horizontal" role="form" method="post">

			<% var operation = "add"; %>
			<% include ../forms/job %>
			
			<hr class="empty-divider">
					
			<div class="form-group">
				<div class="col-sm-12">
					<div class="pull-right">
						<button type="submit" class="btn btn-admin">###add###</button>
						<button type="button" onclick="window.close();" class="btn btn-close">###close###</button>
					</div>
				</div>
			</div>
		</form> <!-- /form -->
	</div>
</div>