<% layout('layout') -%>
<div id="content">

	<div class="container">
		<h1 class="title">###dashboard###</h1>
		<div class="container row vertical-spacing">
			<div class="col-xs-12">
				<button onclick="window.open('/manager/add-job');" class="col-xs-12 btn btn-warning">###addjob###</button>
			</div>
		</div>	

		<% query = query || ""; %>
		<% include ../partials/searchbar-advanced %>
		
		<% include ../partials/jobs %>
		  
     </div>
	 <% include ../partials/paginator %>
</div>