<% layout ('layout') -%>
 <div id="content">
    <div class="container">
	
		<% var operation = "delete"; %>	
		<% var job = entry; %>
		
		<div class="container shadow">		
			<% include ../details/job-extended %>
			
			<div class="col-sm-12">
				<form class="form-horizontal" method="post">
					<hr class="empty-divider">
					
					<div class="form-group">
						<div class="col-sm-12">
							<div class="pull-right">
								<button type="submit" class="btn btn-admin">###delete###</button>
								<button type="button" onclick="window.close();" class="btn">###close###</button>
							</div>
						</div>
					</div>
				</form>
			</div>
	   </div>
	</div>
</div>