<% layout ('layout') -%>
 <div class="content">
    <div class="container">
	
		<% var operation = "delete"; %>			
		<% include ../details/job %>
			
		<hr class="simple-divider">

		<!--Put Your content here -->
		<div class="row">
			<form class="form-horizontal" method="post" action="?r=<%= returnpage %>">
				<div class="form-group">
					<div class="col-xs-4 col-sm-offset-4">
						<button type="submit" class="btn btn-primary btn-block btn-lg btn-warning">###delete###</button>
					</div>
				</div>
			</form>
	   </div>
	</div>
</div>