<% layout ('layout') -%>
 <div class="content">
    <div class="container shadow">

		<% var operation = "delete"; %>
		
		<% include ../details/document-simple %>
		
		<hr class="simple-divider">
		
		<!--Put Your content here -->
		
		<form class="form-horizontal" method="post">


			<div class="col-sm-12 spacing">
				<div class="pull-right">
					<button type="submit" class="btn btn-admin btn-simple">###delete###</button>
					<button type="button" onclick="window.close();" class="btn btn-close">###close###</button>
				</div>
			</div>


		</form>
	  
	</div>
</div>