<% layout ('layout') -%>
 <div class="content">
    <div class="container">

		<% var operation = "delete"; %>
		<% var feedback = entry; %>
		
		
		<div class="container shadow">
			<% include ../details/feedback %>
		
			<div class="col-sm-12">
				<form class="form-horizontal" method="post">
					<hr class="empty-divider">
					
					<div class="form-group">
						<div class="col-sm-12">
							<div class="pull-right">
								<button type="submit" class="btn btn-admin btn-simple">###delete###</button>
								<button type="button" onclick="window.close();" class="btn btn-close">###close###</button>
							</div>
						</div>
					</div>
				</form>
			</div>
	   </div>
	</div>
</div>