<% layout ('layout') -%>
<div class="container shadow">
	<div class="col-sm-12">
		<div class="container">
			<form class="form-horizontal" method="post">

				<h3>###editingcategory###<span class="pull-right">ID: <%= category._id %></span></h3>
				
				<hr class="simple-divider">
				
					<% var operation = "edit"; %>
					<% include ../forms/category %>
					
				<hr class="empty-divider">
				
				<div class="form-group">
					<div class="col-sm-12">
						<div class="pull-right">
							<button type="submit" class="btn btn-admin ">###save###</button>
							<button type="button" onclick="window.close();" class="btn btn-close">###close###</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>