<% layout ('layout') -%>
<div class="container shadow">
	
	
	<% include ../details/document-simple %>
	
	
	<hr class="simple-divider">
	
	<div class="col-sm-12">
		<hr class="empty-divider">
		<div class="container">
			
			<form class="form-horizontal" method="post">
			
				
				
				<% var operation = "edit"; %>	
				
				<% include ../forms/document %>
				
				<hr class="empty-divider">

				<div class="form-group">
					<div class="col-sm-12">
						<div class="pull-right">
							<button type="submit" class="btn btn-admin ">###save###</button>
							<button type="button" onclick="window.close();" class="btn btn-close">###close###</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>