<% layout ('layout') -%>
<div class="content">
	<div class="container">
		<form class="form-horizontal" method="post">
			
			<% include ../forms/document %>
				
			<hr class="simple-divider">
			
			<div class="form-group">
				<div class="col-xs-4 col-sm-offset-4">
					<button type="submit" class="btn btn-primary btn-block btn-lg">###save###</button>
				</div>
			</div>
		</form>
	</div>
</div>