<% layout ('layout') -%>
    <div class="container">

		<!--Put Your content here -->
		<div class="row">
			<form class="form-horizontal" method="post" action="?r=<%= returnpage %>">

				<h3><%= trans("You are editing user") %> ID: <%= user._id %></h3>
			
				<% include ../forms/user %>
				
				<div class="form-group">
					<label for="admin" class="col-sm-3 control-label">Admin: </label>
					<div class="col-sm-9">
						<input type="checkbox" name="admin" <% if (profile && profile.admin) { %>checked<% } %>>
					</div>
				</div> 
				
				<hr class="simple-divider">
				
				<div class="form-group">
					<div class="col-sm-4 col-sm-offset-4">
						<button type="submit" class="btn btn-primary btn-block"><%= trans("Save changes") %></button>
					</div>
				</div>
			</form>
	   </div>
	</div>
