<div class="container">
	<h1 class="title">###dashboard###</h1>
	<div class="container row vertical-spacing">
		<div class="col-xs-12">
			<a role="button" onclick="location.href='/admin/list-jobs';" class="btn btn-default btn-admin btn-lg">###jobs###</a>
			<a role="button" onclick="location.href='/admin/list-users';" class="btn btn-default btn-admin btn-lg">###users###</a>
			<a role="button" onclick="location.href='/admin/list-categories';" class="btn btn-default btn-admin btn-lg">###categories###</a>
			<a role="button" onclick="location.href='/admin/list-documents';" class="btn btn-default btn-admin btn-lg">###documents###</a>
			<a role="button" onclick="location.href='/admin/list-feedback';" class="btn btn-default btn-admin btn-lg">###feedback###</a>
			
			<span class="pull-right">
				<a role="button" onclick="location.href='/files/public/uploads/';" class="btn btn-default btn-admin btn-lg">###files###</a>
				<a role="button" onclick="location.href='/files/log/<%= logfile %>';" class="btn btn-default btn-admin btn-lg">###serverlog###</a>
			</span>
		</div>
	</div>	
 </div>