<!-- footer -->
<footer>
	<hr>
	<div class="container-fluid">
		<p class="pull-right"><a href="<% returnpage %>">###backtotop###</a></p>
		<p>&copy; 2016 LUT &middot; <a href="/privacy">###privacy###</a> &middot; <a href="/terms">###terms###</a></p>
	</div>
</footer>
