<!-- footer -->
<footer>
	<hr class="content-divider">
	<div class="container-fluid vertical-spacing">
		<p class="pull-right"><a role="button" class="" onclick="window.open('/sendfeedback?t=<%= encodeURIComponent(currentpath) %>');">###feedback###</a> &middot; <a href="#">###backtotop###</a></p>
		<p>&copy; 2016 LUT &middot; <a href="/privacy">###privacy###</a> &middot; <a href="/terms">###terms###</a> &middot; <a href="/contact">###contact###</a> &middot; <a href="/about">###about###</a></p>
	</div>
</footer>
