<!-- footer -->
<footer>
	<hr>
	<div class="container-fluid">
		<p class="pull-right"><a href="#"><%= trans("Back to top") %></a></p>
		<p>&copy; 2016 LUT &middot; <a href="/privacy"><%= trans("Privacy") %></a> &middot; <a href="/terms"><%= trans("Terms") %></a></p>
	</div>
</footer>
