<% if (typeof query == "undefined") { query = ""; } %>

<% if (data.length>0) { %>
	<div class="searchresults">

		<% for (var i=0;i<data.length;i++) { var job = data[i]; if (typeof job != "undefined") { %>
			<div class="container result shadow vertical-spacing">
				<% include ../details/job %>
				
				<hr class="simple-divider">

				<div class="container">
					<div class="col-sm-8 spacing">
						<button onclick="window.open('/job/<%= job._id %><% if (query && query!="") { %>?h=<%= query %><% } %>');" class="btn btn-primary btn-simple">###details###</button>
					</div>

					<div class="col-sm-4 spacing text-right">
						<% if (user) { %>
							<% var stay = true; %>
							<% include ./job-adminbuttons %>
							
						<% } %>
					</div>
				</div>
				
				
			</div>
		<% } } %>
	

	</div>
  <% } %>
  
