<% if (typeof query == "undefined") { query = ""; } %>
<div class="container">
	<% if (data.length>0) { %>
		<div id="searchresults">
  
			<% for (var i=0;i<data.length;i++) { var entry = data[i]; if (typeof entry != "undefined") { %>
				<div class="container result shadow">
					<% include ../details/job %>
					<hr class="simple-divider">
					<div class="col-xs-6"><a role="button" href="/job/<%= entry._id %><% if (query && query!="") { %>?h=<%= query %><% } %>" class="btn btn-primary btn-sm btn-spacing">###details### / ###apply###</a></div>
					<% if (user && user.admin) { %>
						<div class="col-xs-6 text-right">
							<a role="button" href="/admin/delete-job/<%= entry._id %>" class="btn btn-primary btn-sm btn-warning btn-spacing">###delete###</a>
							<a role="button" href="/admin/edit-job/<%= entry._id %>" class="btn btn-primary btn-sm btn-warning btn-spacing">###edit###</a>
						</div>
					<% } %>
					<hr class="empty-divider">
				</div>
			<% } } %>
		

		</div>
	  <% } %>
  </div>