<% if (typeof query == "undefined") { query = ""; } %>

<% if (data.length>0) { %>
	<div id="searchresults">

		<% for (var i=0;i<data.length;i++) { var job = data[i]; if (typeof job != "undefined") { %>
			<div class="container result shadow">
				<% include ../details/job %>
				<hr class="simple-divider">
				<div class="col-sm-4"><a role="button" href="/job/<%= job._id %><% if (query && query!="") { %>?h=<%= query %><% } %>" class="btn btn-primary btn-block text-spacing">###details### / ###apply###</a></div>
				<% if (user && user.admin) { %>
					<div class="col-sm-8 text-right">
						<a role="button" href="/admin/edit-job/<%= job._id %>" class="btn btn-primary btn-large btn-warning text-spacing">###edit###</a>
						<a role="button" href="/admin/delete-job/<%= job._id %>" class="btn btn-primary btn-large btn-warning text-spacing">###delete###</a>
					</div>
				<% } %>
				<hr class="empty-divider">
			</div>
		<% } } %>
	

	</div>
  <% } %>