<!-- navbar -->
<header id="banner">
	<div id="heading">
		<h2 class="page-title"> <span>LUT Collaborative Portal</span> </h2>
	</div>
	<div id="jsinput">
		<nav class="sort-pages modify-pages navbar navbar-inverse" id="navigation">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">###navigation###</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			</div>
			<a class="logo default-logo" href="http://www.lut.fi/"><img src="/img/lut_logo.png" alt="http://www.lut.fi/"></a>
			<ul class="nav navbar-nav navbar-collapse collapse" id="navbar">
            <li><a href="/">###home###</a></li>
			<li><a href="/search">###findjobs###</a></li>
			
			<% if (user) { %>
				<li><a href="/favorites">###favorites###</a></li>
				
				<% if (user.employer && 1==0) { %>
					<li><a href="/employer/dashboard" style="color: red;">###employer###</a></li>
				<% } %>
				<% if (user.manager) { %>
					<li><a href="/manager/dashboard" style="color: red;">###manager###</a></li>
				<% } %>
            <% } %>
            <% if (zeroadmins || (user && user.admin) ) { %>

				<li><a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: red;">###admin###</a>
				  <ul class="dropdown-menu">
					<li><a href="/admin/list-jobs">###jobs###</a></li>
					<li><a href="/admin/list-users">###users###</a></li>
					<li><a href="/admin/list-categories">###categories###</a></li>
					<li><a href="/admin/list-documents">###documents###</a></li>
					<li><a href="/files/">###files###</a></li>
					<li><a href="/files/log/<%= logfile %>">###serverlog###</a></li>
				  </ul>
				</li>
              
            <% } %>
            <li><a href="/about">###about###</a></li>
          </ul>

		</nav>
	</div>
</header>