<!-- navbar-lut -->
<header id="banner" role="banner">
	<div id="heading">
		<h2 class="page-title"> <span>LUT Collaborative Portal</span> </h2>
	</div>
	<script type="text/javascript">/*<![CDATA[*/var menu=new Array();menu[1-1]={a:"<li>",b:[{c:"class",d:" navigation_1  no-touch"}],e:[{a:"<a>",b:[{c:"href",d:"http://www.lut.fi/web/en/get-to-know-us"}],f:"<span>Get to know us </span>"}]};menu[2-1]={a:"<li>",b:[{c:"class",d:" navigation_2  no-touch"}],e:[{a:"<a>",b:[{c:"href",d:"http://www.lut.fi/web/en/research"}],f:"<span>Research </span>"}]};menu[3-1]={a:"<li>",b:[{c:"class",d:" navigation_3  no-touch"}],e:[{a:"<a>",b:[{c:"href",d:"http://www.lut.fi/web/en/admissions"}],f:"<span>Admissions </span>"}]};menu[4-1]={a:"<li>",b:[{c:"class",d:" navigation_4  no-touch"}],e:[{a:"<a>",b:[{c:"href",d:"http://www.lut.fi/web/en/for-alumni"}],f:"<span>For alumni </span>"}]};menu[5-1]={a:"<li>",b:[{c:"class",d:" navigation_5  no-touch"}],e:[{a:"<a>",b:[{c:"href",d:"http://www.lut.fi/web/en/cooperation-and-services"}],f:"<span>Cooperation &amp; services </span>"}]};var normal={nav:{b:[{c:"class",d:"sort-pages modify-pages"},{c:"id",d:"navigation"}],e:[{a:"<a>",b:[{c:"class",d:"logo default-logo"},{c:"href",d:"http://www.lut.fi/web/en/"}],e:[{a:"<img>",b:[{c:"src",d:"http://www.lut.fi/lut-6.1-theme/images/lut/lut_logo.png"}]}]},{a:"<ul>",b:[{c:"class",d:"nav_ul"}],e:menu}]}};var mobile={nav:{b:[{c:"class",d:"sort-pages modify-pages"},{c:"id",d:"navigation"}],e:[{a:"<a>",b:[{c:"class",d:"logo default-logo"},{c:"href",d:"/"}],e:[{a:"<img>",b:[{c:"src",d:"http://www.lut.fi/lut-6.1-theme/images/lut/lut_logo.png"}]}]},{a:"<img>",b:[{c:"src",d:"http://www.lut.fi/lut-6.1-theme/images/lut/gui/menu_button.png"},{c:"id",d:"mobile_menubutton"}]},{a:"<div>",b:[{c:"style",d:"display:none"},{c:"id",d:"mobile_menuwrap"}],e:[{a:"<div>",b:[{c:"id",d:"mobile_tools"}]},{a:"<ul>",b:[{c:"class",d:"nav_ul"}],e:menu}]}]}};/*]]>*/</script> 
	<div id="jsinput">
		<nav class="sort-pages modify-pages navbar navbar-inverse" id="navigation">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			</div>
			<a class="logo default-logo" href="http://www.lut.fi/web/en/"><img src="http://www.lut.fi/lut-6.1-theme/images/lut/lut_logo.png"></a>
			<ul class="nav navbar-nav navbar-collapse collapse" id="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/search">Find Jobs</a></li>
            <li><a href="/companies">Find Employers</a></li>
            <% if (user) { %>
          		<% if (user.admin) { %>



            <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">For Employers</a>
              <ul class="dropdown-menu">
                <li><a href="/add-category">Add Category</a></li>
                <li><a href="/create-job-offer">Create Job Offer</a></li>
              </ul>
            </li>
            <% } else { %>
              <li><a href="/employers">For Employers</a></li>
            <% } %>
            <% } %>
            <li><a href="/about">About Us</a></li>
          </ul>

		</nav>
	</div>
</header>