<!-- searchbar -->
<div id="searchbar" class="container">
	<h1 class="title">###search###</h1>
	<form class="col-sm-12 form-horizontal" method="get">
		<div class="form-group">
			<div class="row">
				<div class="col-xs-2">
					<input type="number" name="n" value="<%= number || '' %>" class="form-control" >
					
					<input type="hidden" name="p" value="1" class="form-control">
				</div>
				<div class="col-xs-10">
					<div class="input-group">
						<input id="searchinput" type="text" class="form-control" name="q" value="<%= query || '' %>" placeholder="###searchtext###" onFocus="this.select()" autofocus>

						<span class="input-group-btn">
							<button id="searchbutton" class="btn btn-primary" type="submit">###search###</button>
						</span>
					
					</div>
				</div>
			</div>
		</div>
	</form>
</div>