<!-- searchbar -->
<div class="container">
	 <div id="typetab" class="tab-pane fade in active">
	  <div class="row">
		<div class="col-xs-12">
			<form method="get">
				<div class="col-xs-2">
					<input type="number" name="n" value="<%= number || '' %>">
					<input type="hidden" name="p" value="1" class="form-control">
				</div>
				<div class="col-xs-10">
					<div class="input-group">
						<input id="searchinput" type="text" class="form-control" name="q" value="<%= query || '' %>" placeholder="<%= trans("Search for...") %>" autofocus>
	
						<span class="input-group-btn">
							<button id="searchbutton" class="btn btn-primary" type="submit"><%= trans("Search") %></button>
						</span>
					
					</div>
				</div>
			</form>
		</div>
	  </div>
	</div>
</div>