<% if (typeof query == "undefined") { query = ""; } %>
<!-- searchbar -->
<div id="searchbar" class="container shadow spacing">
	<form class="col-sm-12 form-horizontal vertical-spacing" method="get">
		<div class="row">
			<div class="row">
				<div class="col-xs-3">
					<select id="number" name="n" class="selectpicker form-control" title="###results### ###perpage###">
						<% for(var k in resultlimits){ %>
							<option <% if (number && number==resultlimits[k]) { %>selected="selected"<% } %> value="<%= resultlimits[k] %>"><%=resultlimits[k] %> ###perpage###<% if (default_searchlimit==resultlimits[k]) { %> ###default###<% } %></option>
						<% } %>
					</select>
					
					<input type="hidden" name="p" value="1" class="form-control">
				</div>
				<div class="col-xs-9">
					<div class="input-group">
						<input id="searchinput" type="text" class="form-control" name="q" value="<%= query || '' %>" placeholder="###searchtext###" onFocus="this.select()" autofocus>

						<span class="input-group-btn">
							<button id="searchbutton" class="btn btn-primary" type="submit">###search###</button>
						</span>
					
					</div>
				</div>
			</div>
		</div>
	</form>
</div>