<!-- slider -->
<div class="animation-slider" id="animation-slider">
	<div id="slider">
		<div id="slide_0" class="slide">
			<img src="http://www.lut.fi/documents/10633/86670/headerkuva-etusivu-welovelappeenranta-2016-1400x645.jpg" alt="Slider image">
			<div class="box_holder_compact" style="top: 187.5px;">
				<a class="box_right " href="http://www.welovecities.org/lappeenranta/">
					<h2>Our green hometown</h2>
					<div class="slide_about">Lappeenranta is the only Finnish city competing for the title of the world's most sustainable city.</div>
					<span><%= trans("Read more") %></span>
				</a>
			</div>
		</div>
		<div id="slide_1" style="display: none;" class="slide">
			<img src="http://www.lut.fi/documents/10633/86670/headerkuva-etusivu-strategia2020.jpg" alt="Slider image">
			<div class="box_holder_compact" style="top: 159.5px;">
				<a class=" box_left " href="http://www.lut.fi/web/en/get-to-know-us/introducing-the-university/strategy">
					<h2>Trailblazers. Show the way. Never follow.</h2>
					<div class="slide_about">LUT's new Trailblazer strategy seeks answers to four big questions of humankind.</div>
					<span><%= trans("Read more") %></span>
				</a>
			</div>
		</div>
	</div>
</div>

<div class="animation-slider-spacing" style="display: block"></div>