<!-- slider -->
<div class="animation-slider" id="animation-slider">
	<div id="slider">
		<div id="slide_0" class="slide">
			<img src="/img/bg-featured-home.jpg" alt="Slider image">
			<div class="box_holder_compact" style="top: 187.5px;">
				<a class="box_right " href="https://www.rakennerahastot.fi/">
					<div class="container white">
						<img class="col-sm-6 spacing" src="/img/eakr_logo.png" alt="/">
						<img class="col-sm-6 spacing" src="/img/vipuvoimaa_logo.png" alt="/">
					</div>
				</a>

			</div>
		</div>
	</div>
</div>

<div class="animation-slider-spacing"></div>