<!-- slider -->
<div class="animation-slider" id="animation-slider">
	<div id="slider">
		<div id="slide_0" class="slide">
			<img src="/img/headerkuva-welovelappeenranta.jpg" alt="Slider image">
			<div class="box_holder_compact" style="top: 187.5px;">
				<a class="box_right " href="http://www.welovecities.org/lappeenranta/">
					<h2>Our green hometown</h2>
					<div class="slide_about">Lappeenranta is the only Finnish city competing for the title of the world's most sustainable city.</div>
					<span>###readmore###</span>
				</a>
			</div>
		</div>
	</div>
</div>

<div class="animation-slider-spacing"></div>