<!-- slider -->
<div class="animation-slider" id="animation-slider">
	<div id="slider">
		<div id="slider-logo">
			<img src="/img/bg-featured-home.jpg" alt="Logo">
			<div id="slider-overlay">
				<img src="/img/logo-overlay.png" alt="Overlay">
				<div id="slider-overlay-logos">
					<a class="logo overlay-logo" href="https://www.rakennerahastot.fi/"><img src="/img/vipuvoimaa_logo.png" alt="/"></a>
					<a class="logo overlay-logo" href="https://www.rakennerahastot.fi/"><img src="/img/eakr_logo.png" alt="/"></a>
				</div>
			</div>
		</div>
		
		
		
		
		
		
		<% if (1==0) { %>
			<div class="box_holder_compact" style="top: 187.5px;">
				<a class="box_right " href="https://www.rakennerahastot.fi/">
					<div class="container white">
						<img class="col-sm-6 spacing" src="/img/eakr_logo.png" alt="/">
						<img class="col-sm-6 spacing" src="/img/vipuvoimaa_logo.png" alt="/">
					</div>
				</a>
			</div>
		<% } %>
	</div>
</div>

<div class="animation-slider-spacing"></div>