<% layout('layout') -%>
<div id="content">
	<div class="container">
	  
		<h1 class="title">###dashboard###</h1>
	  
		<p class="col-md-12 lead">###dashboardtext###</p>

	  <!--Put Your content here -->
	</div>
	
	<div class="container">
		<h1 class="title">###jobs###</h1>
		<div class="container row">
			<div class="col-xs-12">
				<a href="/employer/add-job" class="col-xs-12 btn btn-warning">###addjob###</a>
			</div>
		</div>	

		<% query = query || ""; %>
		<% include ../partials/searchbar-advanced %>
		<% include ../partials/jobs %>
     </div>
	 <% include ../partials/paginator %>
</div>