<% if (typeof application != "undefined" && application) { %>
	<div id="content">
		<div class="container">
		  
			<div class="container shadow">
				<h1 class="title"><%- subject %></h1>
				<span class="col-md-12 lead text-justify spacing">his is an email confirming your application for job: <%= job.title %></span>
			</div>
		  
			<hr class="content-divider">
			  

			<% var entry = job; %>
			<div class="container shadow">
				<% include ../details/job-extended %>
			</div>
							
			<hr class="empty-divider">

			<% var entry = user; %>
			<div class="container shadow">
				<% include ../details/user %>
			</div>

			<div class="container lead">
				<div class="col-sm-12 small">
					<label class="text-muted small"><strong>###application### ###sent###: </strong></label>
					<div class="vertical-spacing text-justify"><% if ( application && application.date) { %><%= DateToInput(application.date) %><% } %></div>
				</div>
				<div class="col-sm-12 small">
					<label class="text-muted small"><strong>###application###: </strong></label>
					<div class="vertical-spacing text-justify"><% if ( application && application.application) { %><%= application.application %><% } %></div>
				</div>
			</div>

		  <!--Put Your content here -->
		</div>
	</div>
<% } %>
