<div id="content">
	<div class="container">
	  
		<h1 class="title"><%- title %></h1>
	  
	  
	  <p class="col-md-12 lead text-justify"><%- message %></p>

	  <!--Put Your content here -->
	</div>
</div>