<div id="content">
	<div class="container">
	  
		<h3 class="title"><%- title %></h3>
	  
		<hr class="content-divider">
	  
	  
	  <p class="col-md-12 lead text-justify"><%- message %></p>

	  <!--Put Your content here -->
	</div>
</div>