<div class="container result shadow">
	<div class="col-sm-12 mark lead">
		<div class="row">
			<h2><%- title %></h2>
		</div>
	</div>
	
	<hr class="simple-divider">
	
	<div class="col-sm-12">
		<div class="text-muted lead">
			<%- message %>
		</div>
	</div>
	
	<hr class="simple-divider">
	   
   <div class="col-sm-12">
		<a href="<%= hosturl %>/user/edit" class="col-xs-4 col-sm-offset-4 btn btn-primary">###editprofile###</a>
	</div>
</div>