<div id="content">
	<div class="container">

		<div class="container shadow">
			<h1 class="title"><%- subject %></h1>
			<span class="col-md-12 lead text-justify spacing">Hi! We have a new job offer, that might be suitable for you!</span>
		</div>
	  
	  <hr class="content-divider">
	  
		<div class="container shadow">
			<% include ../details/job-extended %>
			
			<div class="col-sm-12 spacing">
				<button onclick="window.open('/job/<%= job._id %><% if (query && query!="") { %>?h=<%= query %><% } %>');" class="btn btn-primary btn-simple">###details###</button>
			</div>
		</div>
	
	</div>
</div>