<div id="content">
	<div class="container">
	  
		<h1 class="title"><%- subject %></h1>
	  
	  
	  <p class="col-md-12 lead text-justify">Hi! We have a new job offer, that might be suitable for you!</p>
	  
	  <hr class="simple-divider">
	  
		<% var entry = job; %>
		<div class="container shadow">
			<% include ../details/job-extended %>
		</div>
	
	</div>
</div>