<div id="content">
	<div class="container">
	  
		<h1 class="title"><%- title %></h1>
	  
	  
	  <p class="col-md-12 lead text-justify"><%- message %></p>
	  
	  <hr class="simple-divider">
	  
		<% var entry = job; %>
		<div class="container shadow">
			<% include ../details/job-extended %>
		</div>
	
	</div>
</div>