<div id="content">
	<div class="container">
	  
		<div class="container shadow">
			<h3 class="title"><%- subject %></h3>
			<div class="col-md-12 lead text-justify">
				<%- message %>
			</div>
		<div>
		
	</div>
</div>