<div id="content">
	<div class="container">
	  
		<h3 class="title"><%- subject %></h3>
	  
		<hr class="content-divider">
	  
	  
	  <p class="col-md-12 lead text-justify">This is an email confirming your registration on <%= hosturl %>.</p>
	  
	  <hr class="simple-divider">
	  
		<% var entry = user; %>
		<div class="container shadow">
			<% include ../details/user %>
		</div>
	
	</div>
</div>