<div id="content">
	<div class="container">
	  	<div class="container shadow">
			<h3 class="title"><%- subject %></h3>
			<div class="col-md-12 lead text-justify">
				This is an email confirming your registration on <%= hosturl %>.
			</div>
		<div>
	  
		<hr class="empty-divider">
	  
		<% var entry = user; %>
		<div class="container shadow">
			<% include ../details/user %>
		</div>
	
	</div>
</div>