<div id="content">
	<div class="container">
	  
		<h3 class="title"><%- subject %></h3>
	  
		<hr class="content-divider">
	  
		<p class="col-md-12 lead text-justify">This is a confirmation that the password for your account <%- user.email %> has just been changed.</p>
		
	</div>
</div>