<!DOCTYPE html>
<html lang="<%= languagecode %>">
<head>
	<meta charset="UTF-8">
	
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="Lut collaborative portal. Here employers and employees find eachother.">
	<meta name="keywords" content="Lappeenranta, University of Technology, Job, Work, Lut, Lut.fi, Rekry, Portal, Ilmoitukset, Job offers, Employ, Employee, Application">
	<meta name="author" content="LBM">
	
  <link rel="icon" href="/img/lut-logo.jpg">
  <title>LUT Collaborative Portal</title>

  <!-- Bootstrap core CSS  -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!-- Bootstrap-select links -->
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="/css/bootstrap-select.min.css">
  
  <!-- Lut.fi core CSS -->
  <link rel="stylesheet" href="/css/lut-main-mini.css">
  
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/custom.css">
  
  <!-- Catparser CSS -->
  <link rel="stylesheet" href="/css/catparser.css">
  
  <!-- Loading CSS -->
  <link rel="stylesheet" href="/css/loading.css">
  
  <link rel="canonical" href="<%= canonicalurl %>">
  
</head>
<body>
	<% include ./partials/topbar %>
	
	<div class="center">
		<% include ./partials/navbar %>
		<% if (user && !user.verified) { %>
			<h1 class="title text-center alert spacing"><a href="/user/reverify">###unverifiedtext### ###reverify###</a></h1>
		<% } %>
		<% include ./partials/message %>
		<div id="loadingcontent">
			<%- body -%>
		</div>
	</div>
	<% include ./partials/footer %>
	<% include ./partials/javascriptOnly %>
	<% include ./partials/wip %>
	
	<% include ./partials/ifb %>
</body>
</html>
