<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="img/lut-logo.jpg">
  <title>Lut Collaborative portal</title>
  <!-- Lut.fi core CSS -->
  
  <!-- Bootstrap core CSS  -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!-- Bootstrap-select links -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="/css/lut-main-mini.css">
  <link rel="stylesheet" href="/css/custom.css">
  


</head>
<body>
	<% include ./partials/topbar %>
	<div class="center">
		<% include ./partials/navbar %>
		<% include ./partials/message %>
		<%- body -%>
	</div>
	<% include ./partials/footer %>
	<% include ./partials/javascriptOnly %>
</body>
</html>
