<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="Lut collaborative portal. Here employers and employees find eachother.">
	<meta name="keywords" content="Lappeenranta, University of Technology, Job, Work, Lut, Lut.fi, Rekry, Portal, Ilmoitukset, Job offers, Employ, Employee, Application">
	<meta name="author" content="LBM">
	
  <link rel="icon" href="img/lut-logo.jpg">
  <title>Lut Collaborative portal</title>

  <!-- Bootstrap core CSS  -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!-- Bootstrap-select links -->
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="/css/bootstrap-select.min.css">
  
  <!-- Lut.fi core CSS -->
  <link rel="stylesheet" href="/css/lut-main-mini.css">
  
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/custom.css">
  
  <link rel="canonical" href="<%= canonicalurl %>">
</head>
<body>
	<% include ./partials/topbar %>
	<% include ./partials/wip %>
	<div class="center">
		<% include ./partials/navbar %>
		<% include ./partials/message %>
		<%- body -%>
	</div>
	<% include ./partials/footer %>
	<% include ./partials/javascriptOnly %>
</body>
</html>
