<% layout('layout') -%>
<div id="content">
	<div class="container shadow">

			
			  <h3 class="title">###editingprofile###</h3>
		 

		<form class="form-horizontal" method="post">
			
			<% include ../forms/user %>
			
			<hr class="simple-divider">
			
			<div class="row">
				<div class="col-xs-12">
					<div class="spacing pull-right">
						<button type="submit" class="btn btn-primary btn-warning">###save###</button>
						<button type="button" onclick="location.href='/user/profile'" class="btn btn-close">###back###</button>
					</div>
				</div>
			</div>
		</form> <!-- /form -->
	</div>
</div>