<% layout('layout') -%>
<div id="content">
	<div class="container">

		<h1 class="title">###forgotpass###</h1>

		<form class="form-horizontal vertical-spacing" method="post">
			<div class="form-group">
				<label for="email" class="col-sm-3 control-label">###email###</label>
				<div class="col-sm-6">
					<input type="email" id="email" name="email" placeholder="###email###" class="form-control textarea" autofocus>
				</div>
			</div>

			<div class="form-group">
				<label for="captcha" class="col-sm-3 control-label">###captcha###</label>
				<div class="col-sm-6">
					<div class="g-recaptcha" data-sitekey="<%= captchasite %>"></div>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-sm-6 col-sm-offset-3">
					<button type="submit" class="btn btn-primary btn-block">###submit###</button>
				</div>
			</div>
		</form> <!-- /form -->
	</div>
</div>