<% layout('layout') -%>
<div id="content">
	<div class="container">
		<% var profile = user; %>
		

		
		<div class="container shadow">
			<% include ../details/user %>
			
			<div class="row">
				<div class="col-sm-12 vertical-spacing">
					<label class="col-sm-3">
						<strong>###uploadcv###:</strong>
					</label>
					<form class="col-sm-6 text-muted" role="form" enctype="multipart/form-data" method="post" action="/uploadcv">
						
							<input id="uploadinput" type="file" name="file" accept="application/pdf" onchange="javascript:this.form.submit();" title=="###upload### (.pdf 10MB)">
						
					</form>
					<label class="col-sm-3">
						<span class="text-muted">(.pdf 10MB)</span>
					</label>
					
			   </div>
			</div>
			
			
			<hr class="simple-divider">
			
			<div class="row">	
				<div class="col-sm-12 vertical-spacing">
					<label class="col-sm-3 text-muted">
						<strong>###subscription###</strong>
					</label>	
					<div class="col-sm-9 row">
						<div class="col-sm-12">
							<label class="checkbox-inline" for="subscribe">
								<input name="subscribe" id="subscribe" type="checkbox" <% if (profile && profile.subscribe) { %>checked="true"<% } %> disabled>###subscribe###
							</label>
						</div>
						<div class="col-sm-12">
							<label class="checkbox-inline" for="studysub">
								<input name="studysub" id="studysub" type="checkbox" <% if (profile && profile.studysub) { %>checked="true"<% } %> disabled>###studysub###
							</label>
						</div>
						<div class="col-sm-12">
							<label class="checkbox-inline" for="recruitsub">
								<input name="recruitsub" id="recruitsub" type="checkbox" <% if (profile && profile.recruitsub) { %>checked="true"<% } %> disabled>###recruitsub###
							</label>
						</div>
						<div class="col-sm-12">
							<label class="checkbox-inline" for="keywordsub">
								<input name="keywordsub" id="keywordsub" type="checkbox" <% if (profile && profile.keywordsub) { %>checked="true"<% } %> disabled>###keywordsub###
							</label>
						</div>
						<div class="col-sm-12">
							<label class="checkbox-inline" for="emailsub">
								<input name="emailsub" id="emailsub" type="checkbox" <% if (profile && profile.emailsub) { %>checked="true"<% } %> disabled>###emailsub###
							</label>
						</div>
					</div>
				</div>
			</div>
		
		
			<hr class="simple-divider">
		   
		   <div class="row">

			   <div class="col-sm-12">
					<div class="spacing pull-right">
						<button onclick="location.href='/user/edit'" class="btn btn-primary">###editprofile###</button>
					</div>
				</div>
								 
			</div>
			
		</div>
	</div>
</div>