<% layout('layout') -%>
<div id="content">
	<div class="container">
		 
		<% include ../details/user %>
		
		<hr class="simple-divider">
	   
	   <div class="row">

		   <div class="col-sm-12">
				<a href="/user/editProfile" class="col-sm-4 col-sm-offset-4 btn btn-primary"><%= trans("Edit Profile") %></a>
				
			</div>
							 
		</div>
	</div>
</div>