<% layout('layout') -%>
<div class="container">

	<h1 class="title">###resetpass###</h1>
	
	<form class="form-horizontal" method="post">

		<div class="form-group">
			<label for="password" class="col-sm-3 control-label">###newpassword###</label>
			<div class="col-sm-6">
				<input type="password" id="password" name="password" placeholder="###newpassword###" class="form-control textarea" autofocus>
			</div>
		</div>
		<div class="form-group">
			<label for="passwordcheck" class="col-sm-3 control-label">###repeatpassword###</label>
			<div class="col-sm-6">
				<input type="password" id="passwordcheck" name="passwordcheck" placeholder="###repeatpassword###" class="form-control textarea" autofocus>
			</div>
		</div>

		<div class="form-group">
			<div class="col-xs-6 col-sm-offset-3">
				<button type="submit" class="btn btn-primary btn-block">###save###</button>
			</div>
		</div>
	</form> <!-- /form -->
</div>