<% layout('layout') -%>
<div id="content">
	<div class="container shadow">

		<h1 class="title">###signup###</h1>

		<form class="form-horizontal spacing" method="post">
			<input type="hidden" name="redirectpage" value="<%= redirectpage %>">
			
			<% var operation = "add"; %>	
			<% include ../forms/user %>
			<hr class="simple-divider">
			
			<div class="form-group">
				<label class="col-sm-2 control-label">###terms###</label>
				<div class="col-sm-8">
					<label class="checkbox-inline" for="terms">
						<input type="checkbox" name="terms" id="terms">###accept### <a href="/terms" target="_blank">###terms###</a>
					</label>
				</div>
			</div> <!-- /.form-group -->
			<hr class="simple-divider">
			
			<div class="form-group">
				<label class="col-sm-2 control-label">###captcha###</label>
				<div class="col-sm-8">
					<div class="g-recaptcha" data-sitekey="<%= captchasite %>"></div>
				</div>
			</div>
					
			<div class="form-group">
				<div class="col-sm-6 col-sm-offset-3">
					<button type="submit" class="btn btn-primary btn-block btn-lg">###register###</button>
				</div>
			</div>
		</form> <!-- /form -->
	</div>
</div>