<% layout('layout') -%>
<div class="container">
  
    <h1 class="title"><%= trans("About LUT") %></h1>
  
  <hr class="simple-divider">
  
  <p class="lead">
	Lappeenranta University of Technology (LUT) is a pioneering science university in Finland, bringing together the fields of science and business since 1969.

	Our international community is composed of approximately 6,000 students and experts engaged in scientific research and academic education.
  </p>

  <!--Put Your content here -->
</div>
