<% layout('layout') -%>
<div class="container">
  
    <h1 class="title">###about###</h1>
  
  <hr class="simple-divider">
  
  <p class="lead">###abouttext###</p>

  <!--Put Your content here -->
</div>
