<% layout('layout') -%>
<div id="content">
	<div class="container">
	  
		<h1 class="title">###about###</h1>
	  
	  
	  <p class="col-md-12 lead text-justify">###abouttext###</p>

	  <!--Put Your content here -->
	</div>
</div>