<% layout ('layout') -%>
 <div id="content">
    <div class="container">
		
		<% var application = data; %>
		<div class="container">
			<% include ../details/application-extended %>
		</div>
		
		<hr class="empty-divider">
		
		<div class="row">
			<div class="col-sm-12">
				<% if (user) { %>
					<div class="col-xs-3 col-sm-offset-3">
						<a role="button" href="/apply/<%= data.job._id %>" class="btn btn-primary btn-lg btn-block">###update###</a>
					</div>
					<div class="col-xs-3">
						<a role="button" href="/unapply/<%= data._id %>" class="btn btn-primary btn-lg btn-block">###unapply###</a>
					</div>
					<% if (user.admin) { %>
						<div class="pull-right">
							<a role="button" href="/admin/edit-application/<%= data._id %>" class="btn btn-primary btn-lg btn-warning">###edit###</a>
							<a role="button" href="/admin/delete-application/<%= data._id %>" class="btn btn-primary btn-lg btn-warning">###delete###</a>
						</div>
					<% } %>
				<% } %>
			</div>
		</div> 	
	</div>
</div>