<% layout ('layout') -%>
 <div id="content">
    <div class="container">
		
		<% var application = data; %>
		<div class="container">
			<% include ../details/application-extended %>
		</div>
		
		<hr class="empty-divider">
		
		<div class="row">
			<div class="col-sm-12 text-center">
				<% if (user) { %>
					<% if (data.job && data.job.displayDate>=Today) { %>
							<a role="button" href="/apply/<%= data.job._id %>" class="btn btn-primary btn-lg">###update###</a>
						<% } else { %>
							<button disabled class="col-xs-4 col-sm-offset-4 btn btn-primary btn-lg">###closed###</button>
					<% } %>
						
					<a role="button" href="/unapply/<%= data._id %>" class="btn btn-primary btn-lg">###unapply###</a>
					
					<% if (user.admin) { %>
						<div class="pull-right">
							<a role="button" href="/unapply/<%= data._id %>" class="btn btn-primary btn-lg btn-warning">###delete###</a>
						</div>
					<% } %>
				<% } %>
			</div>
		</div> 	
	</div>
</div>