<% layout('layout') -%>
<div id="content">
	<div class="container">
		<% if (data.length>0) { %>
			<div id="searchresults">
				<% for (var i=0;i<data.length;i++) { var application = data[i]; %>
					<div class="container shadow">
						<% include ../details/application %>
						<div class="col-sm-12 text-right"><a role="button" href="/application/<%= application._id %>" class="btn btn-primary btn-block">###details###</a></div>
					</div>
				<% } %>
            </div>
		<% } %>
         
      </div>
	<% include ../partials/paginator %>
</div>
