<% layout ('layout') -%>
 <div class="content">
    <div class="container">
	
					
		<% var entry = data; %>
		<div class="container shadow">
			<% include ../details/job-extended %>
		</div>
			

		<!--Put Your content here -->
		
		<form method="post" action="?r=<%= returnpage %>">
			<div class="container">
				<div class="row">
					<div class="form-group">
						<label for="application" class="col-sm-3 control-label lead">###application###: </label>
						<div class="col-md-12">
							<textarea rows="10" name="application" placeholder="###applicationtext###" class="form-control" autofocus></textarea>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group">
					<div class="col-md-12">
						<div class="col-xs-4 col-sm-offset-4">
							<button type="submit" class="btn btn-primary btn-block btn-lg btn-warning">###submit###</button>
						</div>
					</div>
				</div>
			</div>
		</form>

	</div>
</div>
