<% layout('layout') -%>
<div id="content">
	<div class="container shadow">
		
		<% var entry = data; %>
		<% include ../details/category %>

		<div class="container">
			<% if (user) { %>
				<% if (user.admin) { %>
					<hr class="simple-divider">
					
					<div class="col-sm-12 text-right vertical-spacing">
						<button onclick="window.open('/admin/edit-category/<%= entry._id %>');" class="btn btn-admin btn-simple">###edit###</button>
						<button onclick="confirm_command('###delete### <%= entry.name %>','/admin/delete-category/<%= entry._id %>');" class="btn btn-sm btn-admin btn-simple">###delete###</button>
						<button onclick="window.close();" class="btn btn-close">###close###</button>
					</div>
				<% } %>
			<% } %>
		</div>
									
		
	</div>
	
	<div class="container">
		<% include ../partials/searchbar %>

		<% data = jobs; %>
						
		<% include ../partials/jobs %>
		  
		  <% include ../partials/paginator %>
	</div>
</div>