<% layout('layout') -%>
<div id="content">
	<div class="container shadow">
		
		<% var entry = data; %>
		<% include ../details/category %>

		
		<% if (user) { %>
			<% if (user.admin) { %>
				<hr class="simple-divider">
				
				<div class="col-sm-12">
					<div class="pull-right text-spacing">
						<a role="button" href="/admin/edit-category/<%= data._id %>" class="btn btn-admin">###edit###</a>
						<a role="button" href="/admin/delete-category/<%= data._id %>" class="btn btn-admin">###delete###</a>
					</div>
				</div>
			<% } %>
		<% } %>

									
		
	</div>
	
	<div class="container">
		<% include ../partials/searchbar %>


		  <div class="row">
		   <div class="col-sm-12" id="searchresults">
			  <% for (var i=0; i<jobs.length; i++) { var job = jobs[i]; if (typeof job != 'undefined') { %>
					<div class="container result shadow">
						<% include ../details/job %>
						<hr class="simple-divider">
						<div class="col-sm-6"><a role="button" href="/job/<%= job._id %>" class="btn btn-primary btn-block" target="_blank">###details###</a></div>
						<hr class="empty-divider">
					</div>
				<% } } %>
			</div>
		  </div>
		  
		  <% include ../partials/paginator %>
	</div>
</div>