<% layout('layout') -%>
<div class="container">

    <h1 class="title"><%= trans("ERROR 403") %></h1>

	<hr class="simple-divider">
	
	<p class="lead">
		<%= trans("Access denied!") %>
	</p>

  <!--Put Your content here -->
</div>
