<% layout('layout') -%>
<div class="container">
  <div class="page-header">
    <h1><%= trans("ERROR") %></h1>
  </div>
	<p class="lead">
		<%= trans("You don't have permissions to view this page!") %>
	</p>

  <!--Put Your content here -->
</div>
