<% layout('layout') -%>
<div id="content">
	<div class="container">
		<h1 class="title">###favorites###<% if (unread>0) { %> (<%= unread %> ###unread###)<% } %></h1>
		<% if (data.length>0) { %>
			<div class="searchresults">
				<% for (var i=0;i<data.length;i++) { var favorite = data[i]; var job = favorite.job; %>
					<% if (unread>0 && i==unread) { %>
						<hr class="content-divider">
					<% } %>
					<div class="container shadow vertical-spacing<% if (i<unread) { %> unread<% } %>">
						<% include ../details/job %>
						<hr class="simple-divider">
						<div class="col-sm-12 spacing">
							<button onclick="window.open('/job/<%= job._id %>');" class="btn btn-primary btn-simple">###details###</button>
							<button onclick="location.href='/unfavorite/<%= job._id %>'" class="btn btn-primary btn-simple btn-warning">###unfavorite###</button>
						</div>
						
					</div>
				<% } %>
            
			</div>
		  <% } %>
      </div>
	  <% include ../partials/paginator %>
</div>
