<% layout('layout') -%>
<div id="content">
	<div class="container vertical-spacing">
		<% if (data.length>0) { %>
			<div class="searchresults">
				<% for (var i=0;i<data.length;i++) { var favorite = data[i]; var job = favorite.job; %>
					<div class="container shadow vertical-spacing">
						<% include ../details/job %>
						<hr class="simple-divider">
						<div class="col-sm-12 spacing">
							<button onclick="location.href='/job/<%= job._id %>'" class="btn btn-primary btn-simple">###details###</button>
							<button onclick="location.href='/unfavorite/<%= job._id %>'" class="btn btn-primary btn-simple btn-warning">###unfavorite###</button>
						</div>
						
					</div>
				<% } %>
            
			</div>
		  <% } %>
      </div>
	  <% include ../partials/paginator %>
</div>
