<% layout ('layout') -%>
<div id="content">
    <div class="container">
			
		<div class="container shadow">
			<% include ../details/feedback %>
		
		
			<hr class="simple-divider">
			
			
			<div class="col-sm-12 vertical-spacing">
				<% if (user) { %>
					<% if (user.admin) { %>
						<div class="pull-right">
							<button onclick="window.open('/admin/delete-feedback/<%= feedback._id %>');" class="btn btn-admin btn-simple">###delete###</button>
							<button id="closebutton" role="button" onclick="window.close();" class="btn btn-close">###close###</button>
						</div>
					<% } %>
				<% } %>
				<hr class="empty-divider">
			</div>
		
		
		</div> 	
	</div>
</div>