<% layout('layout') -%>
<hr>
<div class="container">
  <div class="page-header">
    <h1>For employers</h1>
  </div>
  <p class="lead"> Sorry, this function is only open to admins</p>

  <!--Put Your content here -->
</div>
