<head>
	<link rel="stylesheet" href="/css/loading.css">
	<script>
		var showloading = function()
		{
			document.getElementById("loadingimage").style.display = "flex";
			document.getElementById("loadingimage").className = "loading";
			setTimeout(function () {
			   window.location.href = "<%= redirectpage %>";
			}, 1000);
		}
		window.onload = showloading;
	</script>
</head>
<body>
	<div id="loadingimage" class="loading">Please wait!</div>
</body>
