<% layout('layout') -%>
<div class="container">

    <h1 class="title">###error### 404</h1>

	<hr class="simple-divider">
	
	<p class="lead">
		###missing###
	</p>

  <!--Put Your content here -->
</div>
