<% layout('layout') -%>
<link rel="stylesheet" href="/css/about.css">
<hr>
<div class="container">
  <div class="page-header">
    <h1><%= trans("ERROR") %></h1>
  </div>
	<p class="lead">
		<%= trans("Page not found!") %>
	</p>

  <!--Put Your content here -->
</div>
