<% layout('layout') -%>
<div id="content">
	<div class="container">

		<h1 class="title">###privacy###</h1>
		
	  <p class="lead">
		###privacytext###
	  </p>

	  <!--Put Your content here -->
	</div>
</div>