<% layout('layout') -%>
<div class="container">
  <div class="page-header">
    <h1><%= trans("Privacy policy") %></h1>
  </div>
  <p class="lead">
	You have nothing to hide.
  </p>

  <!--Put Your content here -->
</div>
