<% layout('layout') -%>
<div class="container">

    <h1 class="title"><%= trans("Privacy policy") %></h1>

	<hr class="simple-divider">
	
  <p class="lead">
	You have nothing to hide.
  </p>

  <!--Put Your content here -->
</div>
