<% layout ('layout') -%>
<div id="content">
    <div class="container">
			
		<% var profile = data; %>
		<div class="container shadow">
			<% include ../details/user %>
		</div>
		
		<hr class="empty-divider">
		
		<div class="row">
			<div class="col-sm-12">
				<% if (user) { %>
					<% if (user.admin) { %>
						<div class="pull-right">
							<a role="button" href="/admin/edit-user/<%= profile._id %>" class="btn btn-admin">###edit###</a>
							<a role="button" href="/admin/delete-user/<%= profile._id %>" class="btn btn-admin">###delete###</a>
						</div>
					<% } %>
				<% } %>
				
			</div>
		</div> 	
	</div>
</div>