<% layout ('layout') -%>
 <div class="content">
    <div class="container">
			
		<% var entry = data; %>
		<% include ../details/user %>
						
		<hr class="simple-divider">
		
		<div class="row">
			<div class="col-sm-12">
				<% if (user) { %>
					<% if (user.admin) { %>
						<div class="pull-right">
							<a role="button" href="/admin/edit-user/<%= entry._id %>" class="btn btn-primary btn-lg btn-warning" target="_blank">###edit###</a>
							<a role="button" href="/admin/delete-user/<%= entry._id %>" class="btn btn-primary btn-lg btn-warning" target="_blank">###delete###</a>
						</div>
					<% } %>
				<% } %>
				
			</div>
		</div> 	
	</div>
</div>