<% layout ('layout') -%>
<div id="content">
    <div class="container">
			
		<% var profile = data; %>
		<div class="container shadow">
			<% include ../details/user %>
		</div>
		
		<hr class="empty-divider">
		
		<div class="row">
			<div class="col-sm-12">
				<% if (user) { %>
					<% if (user.admin) { %>
						<div class="pull-right">
							<button role="button" onclick="window.open('/admin/edit-user/<%= profile._id %>');" class="btn btn-admin">###edit###</button>
							<button role="button" onclick="window.open('/admin/delete-user/<%= profile._id %>');" class="btn btn-admin">###delete###</button>
						</div>
					<% } %>
				<% } %>
				
			</div>
		</div> 	
	</div>
</div>