<% layout ('layout') -%>
<div id="content">
    <div class="container">
			
		<% var profile = data; %>
		<div class="container shadow">
			<% include ../details/user %>
		
		
			<hr class="simple-divider">
			
			
			<div class="col-sm-12 text-spacing">
				<% if (user) { %>
					<% if (user.admin) { %>
						<div class="pull-right">
							<button onclick="window.open('/admin/edit-user/<%= profile._id %>');" class="btn btn-admin">###edit###</button>
							<button onclick="window.open('/admin/delete-user/<%= profile._id %>');" class="btn btn-admin">###delete###</button>
						</div>
					<% } %>
				<% } %>
				<hr class="empty-divider">
			</div>
		
		
		</div> 	
	</div>
</div>