<% layout('layout') -%>
<div id="content">
	<% query = query || ""; %>
	<div class="container sponsored">
		<div class="row">
			<div class="col-md-9">
			  <h1 class="title">###findjobs###</h1>
			  		<% if (!user) { %>
						<div class="col-md-12">
						  <h1>###joinus###</h1>
						  <a href="/user/signup" class="href"><h3><span class="text-muted">###joinustext###</span></h3></a>
						 </div>
					<% } %>
			</div>
			
			<div class="col-md-3">
				<h1 class="title">###sponsor###</h1>
			</div>
		</div>
	</div>

	<hr class="empty-divider">
	
	<div class="container">
		<h1 class="title">###search###</h1>

		<% include ../partials/searchbar-advanced %>
		
		<% include ../partials/jobs %>
		
		<% include ../partials/paginator %>
	</div>
</div>