<% layout('layout') -%>
<div id="content">
	<% query = query || ""; %>
	<% if (!user) { %>
		<div class="container shadow sponsored">
			<h1 class="title">###joinus###</h1>
			<div class="row spacing">
				<div class="col-md-12 text-center">
					
					<a href="/user/signup" class="href"><h3><span class="text-muted">###joinustext###</span></h3></a>
				</div>
			</div>
		</div>
		<hr class="empty-divider">
	<% } %>
	
	<% if (sponsored && sponsored.content && sponsored.content!="" || (user && user.admin) ) { %>
		
		<div class="container sponsored">
			<% var document = sponsored; %>
			<% include ../details/document %>
		</div>
		<hr class="empty-divider">
	<% } %>

	
	
	<div class="container">
		<h1 class="title">###findjobs###</h1>

		<% include ../partials/searchbar-advanced %>
		
		<% include ../partials/jobs %>
		
		<% include ../partials/paginator %>
	</div>
</div>