<% layout('layout') -%>
<div id="content">
	<% query = query || ""; %>
	<div class="container sponsored">
		<div class="row">
			
			<% if (!user) { %>

				<div class="col-md-12">
					<h1 class="title">###joinus###</h1>
					<a href="/user/signup" class="href"><h3><span class="text-muted">###joinustext###</span></h3></a>
				</div>

			<% } %>
			
			<% if (document && document.content && document.content!="" || (user && user.admin) ) { %>
				<div class="col-md-12">
					<% var document = sponsored; %>
					<% include ../details/document %>
				</div>
			<% } %>
		</div>
	</div>

	<hr class="empty-divider">
	
	<div class="container">
		<h1 class="title">###findjobs###</h1>

		<% include ../partials/searchbar-advanced %>
		
		<% include ../partials/jobs %>
		
		<% include ../partials/paginator %>
	</div>
</div>