<% layout('layout') -%>
<div class="content">


	<div class="container">
		<div class="row">
			<div class="col-md-9">
			  <h1 class="title">###findjobs###</h1>
			  		<% if (!user) { %>
						<div class="col-xs-12">
						  <h1>###joinus###</h1>
						  <a href="/user/signup" class="href"><h3><span class="text-muted">###joinustext###</span></h3></a>
						 </div>
					<% } %>
			</div>
			
			<div class="col-md-3">
				
	

					<h1 class="title">###sponsor###</h1>
				
			</div>
		</div>
	</div>

	<hr class="container-divider">
	
	<% include ../partials/searchbar-advanced %>

	<hr class="simple-divider">
	
	<div class="container">
		<% if (data.length>0) { %>
			<div id="searchresults">
		  
				  <% for (var i=0;i<data.length;i++) { var entry = data[i]; if (typeof entry != 'undefined') { %>
						<% include ../details/searchresult %>
						<hr class="simple-divider">
					<% } } %>
            <% } %>

          </div>
      </div>
	  <% include ../partials/paginator %>
</div>