<% layout ('layout') -%>
 <div id="content">
    <div class="container shadow">
	
		<h1 class="text-left title">###feedback###</h1>
		
		<hr class="empty-divider">
		
		<form class="form-horizontal" role="form" method="post">

			<% var operation = "add"; %>
			<% include ../forms/feedback %>
			
			<div class="spacing pull-right">
				<button type="submit" class="btn btn-primary btn-warning">###submit###</button>
				<button type="button" onclick="window.close();" class="btn btn-close">###close###</button>
			</div>

		</form> <!-- /form -->

	</div>
</div>
