<% layout('layout') -%>
<div class="container">

    <h1 class="title"><%= trans("Terms of Service") %></h1>

	<hr class="simple-divider">
	
  <p class="lead">
	All your data belong to us.
  </p>

  <!--Put Your content here -->
</div>
