<% layout('layout') -%>
<div id="content">
	<div class="container">

		<h1 class="title">###terms###</h1>

		
		<div class="container">
			<% include ../details/document %>
		</div>

	  <!--Put Your content here -->
	</div>
</div>