<% layout('layout') -%>
<div class="container">

    <h1 class="title">###terms###</h1>

	<hr class="simple-divider">
	
  <p class="lead">
	###termstext###
  </p>

  <!--Put Your content here -->
</div>
