<% layout('layout') -%>
<div class="container">
  <div class="page-header">
    <h1><%= trans("Terms of Service") %></h1>
  </div>
  <p class="lead">
	All your data belong to us.
  </p>

  <!--Put Your content here -->
</div>
