<% if (typeof application != "undefined" && application) { %>
	<% var job = application.job; %>
	<% var profile = application.user; %>
	
	<div class="container">
		<% include ./job %>
	</div>
	
	<hr class="content-divider">

	<div class="container">
		<% include ./user-simple %>
	</div>
		
	<hr class="content-divider">
		 
	<div class="row">
		<div class="col-sm-12 text-spacing">
		   <label class="col-sm-3">
				<strong>###application### ###sent###:</strong>
			</label>
			<div class="col-sm-9 text-muted"><% if ( application.date) { %><%= DateToInput(application.date) %><% } %></div>
		</div>
		<div class="col-sm-12 text-spacing">
			<label class="col-sm-12">
				<strong>###application###:</strong>
			</label>
		</div>		
		<div class="col-sm-12">
			<div class="col-sm-12 text-spacing">
				<div class="parsed text-justify">
					<% if ( application.application) { %><%- catparse(application.application) %><% } %>
				</div>
			</div>	
	   </div>	
	</div>	
	
<% } %>