<% if (typeof application != "undefined" && application) { %>
	<% var entry = application.job; %>
	<div class="container">
		<% include ./job %>
	</div>
	
	<hr class="simple-divider">

	<% var entry = application.user; %>

	<div class="container">
		<% include ./user-simple %>
	</div>
		
	<hr class="simple-divider">

	<div class="container lead">
		<div class="col-sm-12 small">
			<label class="text-muted small"><strong>###application### ###sent###: </strong></label>
			<div class="text-spacing text-justify"><% if ( application.date) { %><%= DateToInput(application.date) %><% } %></div>
		</div>
		<div class="col-sm-12 small">
			<label class="text-muted small"><strong>###application###: </strong></label>
			<div class="text-spacing text-justify"><% if ( application.application) { %><%- catparse(application.application) %><% } %></div>
		</div>
	</div>
<% } %>