<% if (typeof application != "undefined" && application) { %>
	<% var job = application.job; %>
	<% var profile = application.user; %>

	<hr class="empty-divider">
	
	<div class="container shadow">
		<% include ./user %>
	</div>
	
	<hr class="empty-divider">
	
	<div class="container shadow">
		<% include ./job-extended %>
	</div>
					
	<hr class="empty-divider">

	<div class="container shadow">
		<div class="row">
			<div class="col-sm-12 text-spacing">
			   <div class="col-sm-12 text-spacing">	
					<strong>###application###:</strong>
						
					<span class="text-muted pull-right text-right text-spacing datestamp" title="DD.MM.YYYY">###application### ###sent###: <% if ( application.date) { %><%= DateToInput(application.date) %><% } %>
					</span>
				</div>
				<label class="col-sm-12">
					
				</label>
			</div>		
			<div class="col-sm-12">
				<div class="col-sm-12 text-spacing">
					<div class="parsed text-justify">
						<% if ( application.application) { %><%- catparse(application.application) %><% } %>
					</div>
				</div>	
		   </div>	
		</div>	
	</div>
	
<% } %>