<% if (typeof application != "undefined" && application) { %>
	<% var entry = application.job; %>
	<div class="container shadow">
		<% include ./job-extended %>
	</div>
					
	<hr class="empty-divider">

	<% var entry = application.user; %>
	<div class="container shadow">
		<% include ./user %>
	</div>
	
	<hr class="empty-divider">

	<div class="container shadow lead">
		<div class="col-sm-12 small">
			<label class="text-muted small">###application###: </label>
			<div class="text-spacing text-justify"><% if ( application.application) { %><%- catparse(application.application) %><% } %></div>
		</div>
	</div>
	
<% } %>