  
<div class="container">
	 <div class="row">
	    <div class="col-sm-12"><h2><%= category.name %></h2>
		</div>
	 </div>  
	 <div class="row">
	    <div class="col-sm-12"><h2><%= category.category %></h2>
		</div>
	 </div>  
</div>