<% if (typeof document != "undefined" && document) { %>

	<div class="row">
		<div class="col-sm-12 text-spacing">
			<div class="lead parsed text-justify">
				<% if ( document.content && document.content!="") { %><%- catparse(document.content) %><% } else { %>###undefined###<% } %>
			</div>
		</div>		   
	</div>	
	
		
	<div class="row">
		<div class="col-sm-12">
			<% if (user) { %>
				<% if (user.admin) { %>
					<div class="pull-right">
						<a role="button" href="/admin/edit-document/<%= document._id %>" class="btn btn-sm btn-admin">###edit###</a>
						<a role="button" href="/admin/delete-document/<%= document._id %>" class="btn btn-sm btn-admin">###delete###</a>
					</div>
				<% } %>
			<% } %>
		</div>
	</div> 	
<% } %>