<% if (typeof document != "undefined" && document) { %>
	<% var emptydocument = ( !document.content || document.content==""); %>
	
	<div class="container">
		<div class="row">
		   <div class="col-sm-12">	
				<h1 class="title"><%= document.name %></h1>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 vertical-spacing">
				<div class="col-xs-12 vertical-spacing ">
					<div class="lead parsed"><% if ( !emptydocument) { %><%- catparse(document.content) %><% } else { %>###empty###<% } %></div>
				</div>
			</div>		   
		</div>	
	
	</div>
<% } %>