<% if (typeof feedback != "undefined" && feedback) { %>

	<div class="col-sm-12 text-spacing">	
		<div class="row">
		   <div class="col-sm-12">	
				<p><strong>###contact###: </strong><% if (feedback.page) { %><%= feedback.contact %><% } else { %>###undefined###<% } %></p>
				<p><strong>###feedbackpage###: </strong><% if (feedback.page) { %><a href="<%= feedback.page %>"><%= feedback.page %></a><% } else { %>###undefined###<% } %></p>

				<p><strong>###feedback###:</strong></p>
				<div class="lead parsed  text-spacing text-justify">
					<% if ( feedback.feedback && feedback.feedback!="") { %><%= feedback.feedback %><% } else { %>###undefined###<% } %>
				</div>
			</div>		   
		</div>	
	</div>
<% } %>