<% if (typeof entry != "undefined" && entry) { %>
	<% include ./job %>
	<hr class="simple-divider">

		 
	<div class="row">
			   
		<div class="col-sm-12 text-spacing">
			<label class="col-sm-3">
				<strong>###address###:</strong>
			</label>
			<div class="col-sm-9 text-muted"><% if (entry.address) { %><%- highlight(entry.address) %><% } else { %>###undefined###<% } %></div>
	   </div>
	   
	   <div class="col-sm-12 text-spacing">
			<label class="col-sm-3">
				<strong>###jobskills###:</strong>
			</label>
			<div class="col-sm-9 text-muted"><% if (entry.skills) { %><%- highlight(entry.skills) %><% } else { %>###undefined###<% } %></div>
	   </div>
	   
		<div class="col-sm-12 text-spacing">
			<label class="col-sm-3">
				<strong>###duration###:</strong>
			</label>
			<div class="col-sm-9 text-muted"><% if (entry.duration) { %><%- highlight(entry.duration) %><% } else { %>###undefined###<% } %></div>
	   </div>	

	</div>

	<hr class="simple-divider">

	<div class="row">
		<div class="col-sm-12 text-spacing">
			<label class="col-sm-12">
				<strong>###description###:</strong>
			</label>
		</div>		
		<div class="col-sm-12">
		
			<div class="col-sm-12 text-spacing parsed text-justify"><% if ( entry.description) { %><%- catparse(highlight(entry.description)) %><% } else { %>###undefined###<% } %></div>
	   </div>	
   </div>	

<% } %>