<% include ./job %>

<hr class="simple-divider">

<div class="container">
	<div class="col-sm-6 text-spacing">
		<label>###jobskills###: </label>
		<div class="text-muted lead"><%- highlight(entry.skills) %></div>
	</div>
	<div class="col-sm-6 text-spacing">
		<label>###beginning###: </label>
		<div class="text-muted lead"><%- highlight(entry.beginning) %></div>
	</div>
	<div class="col-sm-6 text-spacing">
		<label>###duration###: </label>
		<div class="text-muted lead"><%- highlight(entry.duration) %></div>
	</div>
</div>

<% if (entry.description!="") { %>
	<div class="container">
		<div class="col-sm-12 text-spacing">
			<hr class="simple-divider">
			<div class="container lead parsed text-justify"><%- catparse(highlight(entry.description)) %></div>
		</div>
	</div>
<% } %>
