<% include ./job-extended %>

<hr class="simple-divider">

<div class="container">
	<div class="col-sm-6 text-spacing">
		<label>###email###: </label>
		<div class="text-muted lead"><%- highlight(entry.email) %></div>
	</div>
</div>

