<% include ./job %>

<hr class="simple-divider">

<div class="container">
	<div class="col-sm-6">
		<label class="text-muted">###jobskills###: </label>
		<h3 class="text-spacing"><%- highlight(entry.skills) %></h3>
	</div>
	<div class="col-sm-6 text-right">
		<label class="text-muted">###duration###: </label>
		<h3 class="text-spacing"><%- highlight(entry.duration) %></h3>
	</div>
</div>

<% if (entry.description!="") { %>
	<div class="container">
		<div class="col-sm-12 text-spacing">
			<hr class="simple-divider">
			<div class="container lead parsed text-justify"><%- catparse(highlight(entry.description)) %></div>
		</div>
	</div>
<% } %>
