<!-- form-category -->

<div class="form-group">
	<label for="category">Category: <% if (category && category.category && operation=="edit") { %><%= trans("(Do not change!)") %><% } %> </label>
	<select name="category" class="selectpicker textarea" data-live-search="true" autofocus>
		<option label=" "></option>
		<% for(k in catnames){ %>
			<option value="<%=k %>"<% if (category && k==category.category) { %> selected="selected"<% } %>><%=catnames[k] %></option>
		<% } %>
	</select>
</div>

<div class="form-group">
	<label for="name">Name: </label>
	<input type="text" class="form-control" name="name" value="<% if (category) { %><%= category.name %><% } %>">
</div>
