<!-- form-category -->
<% if (typeof document == "undefined") { document = false; } %>

<div class="form-group">
	<label for="textcontent" class="col-sm-12"><a onclick="$('.formathelp').toggleClass('hidden');">###formathelp###</a></label>
	<div class="formathelp hidden">
		<div class="col-sm-12 vertical-spacing">
			<div class="col-xs-12 mark">
				<%- catparsehelp %>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<textarea rows="15" id="textcontent" name="textcontent" placeholder="###descriptiontext###" class="form-control" autofocus><% if (document && document.content && document.textcontent!="") { %><%= document.content %><% } %></textarea>
	</div>
</div>